* {
    margin: 0;
    padding: 0;
    background-color: #36454F;
}

.text h1 {
    color: white;
    font-style: italic;
    font-weight: lighter;
    top: 25%;
    left: 23%;
    font-size: 45px;
    position: absolute;
}

.image1 {
    bottom: 50%;
    left: 19%;
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

.image2 {
    bottom: 50%;
    left: 35%;
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

.image3 {
    bottom: 50%;
    left: 51%;
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

.image4 {
    bottom: 50%;
    right: 23%;
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

.image1, .image2, .image3, .image4 {

    transition: transform 0.3s ease-in-out;
}
.image1:hover, .image2:hover, .image3:hover, .image4:hover {
    transform: scale(1.4);
}

@media (max-width: 768px) {
    .text h1 {
        font-size: 5vw;
    }

    .image1,
    .image2,
    .image3,
    .image4 {
        width: 1%; 
        position: absolute;
    }
}